@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
}

*{
margin: 0;
padding: 0;
  }

  
.container {
  width: 75%;
  height: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  }
  
  .header {
    display: flex;
    height: 80px;
  }
  
  .logo {
    font-size: 35px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 275px;
    font-size: 16px;
    margin-bottom: 45px;
    list-style: none;
    gap: 18px;
    font-weight: bolder;
  }

  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}


.block{
    display: flex;
    height: 300px;
    width: 100%;
}

.img1{
    font-size: 35px;
    color: aliceblue;
    height: 300px;
    width: 70%;
    background: url('/gorod/img/gorod.jpg');
    padding: 0px;
}


.img2{
    height: 300px;
    width: 30%;
    background-image: url('/gorod/img/img1.jpg');
    margin-left: 12px;
}

.span{
    background-color: black;
    font-size: 37px;
    background: rgba(0, 0, 0, 0);
    padding: 50px;
    text-shadow: 1px 3px 1px #000;
}

.excontainer{
  display: flex;
}


.container1{
  margin-top: 15px;
  width: 308px;
  height: 390px;
}


.line{
  border-bottom: 2px solid lightgray;
  width: 308px;
  margin-top: 30px;
}


.text1{
  font-size: 15px;
  margin-top: 15px;
  font-weight: bolder;
  line-height: 22px;
}


.text2{
  font-size: 15px;
  margin-top: 20px;
  font-weight: bolder;
  line-height: 22px;
}

.button{
  font-size: 10px;
  width: 80px;
  height: 30px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
}


.container2{
  margin-top: 15px;
  width: 308px;
  height: 390px;
  margin-left: 14px;
}


button:hover{
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.line1{
  border-bottom: 2px solid lightgray;
  width: 308px;
  margin-top: 30px;
}

.text3{
  font-size: 15px;
  margin-top: 15px;
  font-weight: bolder;
  line-height: 22px;
}


.text4{
  font-size: 15px;
  margin-top: 40px;
  font-weight: bolder;
  line-height: 22px;
}

.container3{
  width: 300px;
  height: 390px;
  margin-left: 12px;
  margin-top: 15px;
  margin-left: 35px;
}

blockquote {
  border:none;
  quotes: "\201E""\201C"
}


h3{
  font-style: italic;
  font-weight: bolder;
}
blockquote h3 {
font-size:21px;
}

blockquote h3:before { 
margin-right: 5px;
content: open-quote;
font-weight: bolder;
font-size:50px;
color:grey;
padding: 5px;
opacity: 0.5;
} 

blockquote h3:after { 
width: 50px;
height: 30px;
float: right;
content: close-quote;
font-weight: bolder;
font-size:50px;
color:grey;
margin-right: 60px;
opacity: 0.5;
}

.autor{
  text-align: right;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: bolder;
}


.line2{
  width: 100%;
 margin-top: 20px;
  border: 1px solid lightgray;
}

.last{
  margin-top: 10px;
  font-size: 14px;
}